<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c78c6b">  <td>20/04/11 12:10:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="chromeTest1.test1()[pri:0, instance:dockertesting.dockertesting.chromeTest1@7823a2f9]">test1</td> 
  <td>pool-1-thread-1@1360418390</td>   <td></td> </tr>
<tr bgcolor="849fce">  <td>20/04/11 12:10:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="chromeTest2.test1()[pri:0, instance:dockertesting.dockertesting.chromeTest2@5c7fa833]">test1</td> 
  <td>pool-1-thread-2@199491685</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>20/04/11 12:10:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="chromeTest3.test1()[pri:0, instance:dockertesting.dockertesting.chromeTest3@39aeed2f]">test1</td> 
  <td>pool-1-thread-3@1961834858</td>   <td></td> </tr>
</table>
